<%= render 'shared/navbar' %>

<div class="paintings">
<!--   <div class="container">
  </div> -->

  <div class="banner">
    <% @paintings.shuffle.first(20).each do |painting| %>
      <%= cl_image_tag painting.photo.key,
        class: "painting-thumbnail",
        crop: :thumb,
        style: "
          top: #{rand(200)}px;
          left: #{rand(800)}px;
          "
        %>

    <% end %>
    <h1 class="main-title">Bienvenue chez Kty </h1>
  </div>



  <% @themes.each do |theme|  %>
    <% next if theme.paintings.empty? %>
    <div class="theme">
      <div class="container">
        <h4 class="category title active-title">
          <%= theme.name %>
        </h4>
        <div class="slider container">
          <button class="arrow prev button-hidden">&#8592;</button>
          <div class="slider-cards">
            <% theme.paintings.sort_by(&:year).reverse.each do |painting| %>
              <div class="card-painting">
                <%= cl_image_tag painting.photo.key, class: "framed-painting", "data-index" => painting.id %>
                <p>
                  <%= painting.name %>
                </p>
                <p>
                  <%= painting.dimensions %>
                </p>
              </div>
            <% end %>
          </div>
          <!-- <i class="fas fa-arrow-circle-right arrow"></i> -->
          <button class="arrow next button-hidden">&#8594;</button>

        </div>
      </div>

    </div>

  <% end %>
</div>

<!-- Hidden zoom div waiting for a click on paintings -->
<% @paintings.each do |painting| %>
  <div class="zoomDiv" id="zoom-<%= painting.id %>">
    <div class="details">
      <h5 class="title">
        <%= painting.name %>
      </h5>
      <p><%= painting.year %></p>
      <p><%= painting.dimensions %></p>
      <br>
      <p><%= painting.description %></p>
    </div>
  </div>

<% end %>

<!-- Profile page -->
<div class="profile container d-none">
  <h1>Cathy Schwartz</h1>
  <%= image_tag 'photo_dort.jpg' %>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
  <a href="mailto: contac@la-gallerie-de-kty.art" class=btn>Contact</a>
</div>

<!-- Footer -->
<div class="footer">
  <p>
    Site construit avec <i class="fas fa-heart"></i> par
    <a href="https://remjpn.github.io/profile/" target="_blank">Rémi Schwartz</a>
  </p>
</div>
